<div class="containerLogin">
  <h1 class="title">SPAI - Pick an Idea</h1>
  <form method="post">
    <div class="name">
      <label class="nameLabel" *ngIf="!username">
        Name
      </label>
      <input class="nameInput" type="text" [(ngModel)]="username" name="username"/>
    </div>
    <br/>
    <div class="password">
      <label class="passwordLabel" *ngIf="!password">
        Password</label>
      <input type="password" class="passwordInput" [(ngModel)]="password" name="password"/>
    </div>
    <br/>
    <a (click)="checkLogin()"><input type="submit" class="btnSubmit"/></a>
  </form>
</div>
