<div class="containerProposte">
  <form method="post">
    <div class="name">
      <label class="tematicaLabel">
        Tematica
      </label>
      <input class="tematicaInput" type="text" [(ngModel)]="nome" name="tematica"/>
    </div>
    <br/>
    <div class="descrizione">
      <label class="descrizioneLabel">
        Descrizione</label>
      <input type="text" class="descrizioneInput" [(ngModel)]="descrizione" name="descrizione"/>
    </div>
    <br/>
    <br/>
    <a (click)="addProposeAdmin()" class="addPropostaAdmin">Aggiungi proposta</a>
  </form>
</div>
