.votazione {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.votazione:last-child {
  padding-bottom: 150px;
}

.nome {
  flex: 2;
  text-align: left;
  padding-left: 18%;
}

.button {
  flex: 2;
  padding-right: 5%;
}

.btnVota {
  border: 2px solid white;
  padding: 10px 50px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

.btnVota:hover {
  color: #1C1D25;
  background-color: white;
  padding: 15px 55px;
  transition: 0.2s;
}
