<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post con Bottoni</title>
</head>
<body>
<div class="container">
  <table>
    <tr>
      <td class="text-cell">proposta uno</td>
      <td class="button-cell"><button>vota</button></td>
    </tr>
    <tr>
      <td class="text-cell">proposta due</td>
      <td class="button-cell"><button>vota</button></td>
    </tr>
    <tr>
      <td class="text-cell">proposta tre</td>
      <td class="button-cell"><button>vota</button></td>
    </tr>
  </table>
</div>
</body>
</html>


