.containerVotazione {
  text-align: left;
  font-size: 13pt;
}

.nomeBody, .descrizioneBody {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20%;
  margin-right: 40%;
}

.nomeBody {
  margin-top: 15vh;
}

.labelNome {
  flex: 2;
  position: relative;
}

.nome {
  flex: 3;
  text-align: left;
}

.descrizioneBody {
  margin-top: 5vh;
}

.labelDescrizione {
  position: relative;
  flex: 2;
}

.descrizione {
  flex: 3;
}

.autore {
  text-align: end;
  padding-right: 15%;
  margin-top: 5vh;
  color: #525252;
  font-size: 11pt;
}

.terminaVotazione {
  display: flex;
  flex-direction: row;
  margin-right: 40%;
  margin-top: 10vh;
}

.terminaOra {
  flex: 2;
  text-align: center;
  position: relative;
  top: 150px;
}

a {
  border-radius: 0;
  border: 1px solid white;
  padding: 10px 100px;
  text-align: center;
  color: white;
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: #1C1D25;
  padding: 15px 105px;
  transition: 0.2s;
}
