<div class="containerVotazione" *ngFor="let votazione of votazioniArray">
  <div class="nomeBody">
    <div class="labelNome">
      Nome:
    </div>
    <div class="nome">
      {{votazione.nome}}
    </div>
  </div>
  <div class="descrizioneBody">
    <div class="labelDescrizione">
      Descrizione
    </div>
    <div class="descrizione">
      {{votazione.descrizione}}
    </div>
  </div>
  <div class="autoreBody">
    <p class="autore">---Autore: {{votazione.autore}}---</p>
  </div>
  <div class="terminaOra">
    <a [routerLink]="['/votazioni']" (click)="deleteNow()">Termina ora</a>
  </div>
</div>
