<table>
  <tr>
    <td class="text-cell">proposta uno</td>
    <td class="button-cell"> <button type="button">accetta</button> </td>
    <td class="button-cell"><button type="button">rifiuta</button></td>
  </tr>
  <tr>
    <td class="text-cell">proposta due</td>
    <td class="button-cell"><button type="button">accetta</button></td>
    <td class="button-cell"><button type="button">rifiuta</button></td>
  </tr>
  <tr>
    <td class="text-cell">proposta tre</td>
    <td class="button-cell"><button type="button">accetta</button></td>
    <td class="button-cell"><button type="button">rifiuta</button></td>
  </tr>
</table>
