table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 -200px;
}

td {
  padding: 8px;
  vertical-align: top;
}

tr {
  position: relative;
  top: 50px;
}


tr:last-child {
  position: relative;
  bottom: 140px;
}

.text-cell {
  width: 50%;
  vertical-align: center;
  cursor: pointer;
}

.button-cell {
  width: 30%;
  text-align: left;
}

.box {
  background-color: red;
  height: 10px;
  width: 100%;
}

.range {
  height: 10px;
  background-color: green;
}

.votiSi {
  flex: 2;
  margin: 0 0 0 15px;
}

.votiNo {
  flex: 2;
  text-align: right;
  margin: 0 15px 0 0;
}

.bodyVoti {
  display: flex;
  flex-direction: row;
}

.bottom {
  height: 120px;
}

@media screen and (max-width: 1023px) {
  table {
    margin: 0 -100px;
  }
}

@media screen and (max-width: 655px) {
  table {
    margin: 0 -50px;
  }
}

@media screen and (max-width: 320px) {
  table {
    margin: 0 -20px;
  }
}
