<table>
  <tr *ngFor="let risultato of arrayRisultati">
    <td class="text-cell" (click)="toggleDetails(risultato, risultato.id)">{{risultato.nome}}
      <div *ngIf="showDetails && id == risultato.id" class="dettagli">
        <p>Descrizione: {{ risultato.descrizione }}</p>
        <p>Autore: {{ risultato.autore }}</p>
      </div>
    </td>
    <td class="button-cell">
      <div class="bodyVoti">
        <p class="votiSi">{{risultato.si}}</p>
        <p class="votiNo">{{risultato.no}}</p>
      </div>
      <div class="box">
        <div class="range" [style.width.%]="(risultato.si / (risultato.si + risultato.no)) * 100"></div>
      </div>
      <br>
      <br>
      <br>
  </tr>
</table>
<div class="bottom"></div>
